# importing libraries

In [1]:
import numpy as np
import pandas as pd

# loading dataset

In [3]:
df=pd.read_csv('/content/loan prediction1.csv')
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

# applying preprocessing

In [4]:
for vals in df:
  df[vals]=pd.get_dummies(df[vals])

In [5]:
df.head()

   Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
0        1       0        1  ...               0              0            0
1        0       0        0  ...               0              1            1
2        0       0        0  ...               0              0            0
3        0       0        0  ...               0              0            0
4        0       0        1  ...               0              0            0

[5 rows x 13 columns]

# assigning x,y variables

In [6]:
x=df[:]
x.drop(['Loan_ID','Loan_Status'],axis=1,inplace=True)
x

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     Gender  Married  ...  Credit_History  Property_Area
0         0        1  ...               0              0
1         0        0  ...               0              1
2         0        0  ...               0              0
3         0        0  ...               0              0
4         0        1  ...               0              0
..      ...      ...  ...             ...            ...
609       1        1  ...               0              1
610       0        0  ...               0              1
611       0        0  ...               0              0
612       0        0  ...               0              0
613       1        1  ...               1              0

[614 rows x 11 columns]

In [7]:
y=df['Loan_Status']

# converting training and testing

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1)

In [10]:
x_train.shape

(460, 11)

In [11]:
y_train.shape

(460,)

# applying linear model

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
lr=LogisticRegression()

In [14]:
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# predicting the vales

In [15]:
pred=lr.predict(x_test)
pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=uint8)